Download tập dữ liệu airquality ở link sau:

<a href="http://figshare.com/articles/Air_quality_dataset/1463337">http://figshare.com/articles/Air_quality_dataset/1463337</a>

In [1]:
# Loading airquality.csv file
my_data <- read.csv("data/airquality.csv")

In [2]:
# column names of the dataset
names(my_data)

[1] "Ozone"   "Solar.R" "Wind"    "Temp"    "Month"   "Day"

In [3]:
# first 2 rows of the data frame
head(my_data, 2)

  Ozone Solar.R Wind Temp Month Day
1 41    190     7.4  67   5     1
2 36    118     8.0  72   5     2

In [4]:
# Number of observations (i.e. rows) are in data frame
nrow(my_data)

[1] 153

In [5]:
# the last 2 rows of the data frame
tail(my_data, 2)

    Ozone Solar.R Wind Temp Month Day
152 18    131      8.0 76   9     29
153 20    223     11.5 68   9     30

In [6]:
# value of Ozone in the 47th row
my_data$Ozone[47]

[1] 21

In [7]:
# Number of missing values are in the Ozone column
length(my_data$Ozone[is.na(my_data$Ozone)])

[1] 37

In [8]:
# mean of the Ozone column
mean(my_data$Ozone[!is.na(my_data$Ozone)])

[1] 42.12931

In [9]:
# mean of Solar.R in subset of rows of the data frame where Ozone values are above 31 and Temp values are above 90
mean(my_data$Solar.R[my_data$Ozone > 31 
                     & my_data$Temp > 90 
                     & complete.cases(my_data$Ozone, my_data$Temp)])

[1] 212.8

In [10]:
# mean of "Temp" when "Month" is equal to 6
mean(my_data$Temp[my_data$Month == 6])

[1] 79.1

In [11]:
# maximum ozone value in the month of May
max(my_data$Ozone[my_data$Month == 5 & !is.na(my_data$Ozone)])

[1] 115

Qua bài viết trên, tôi đã sử dụng những hàm cơ bản để quan sát tập dữ liệu như head(), tails(), names(). Rút trích các dòng dữ liệu tương ứng với điều kiện logic. Loại bỏ những dòng dữ liệu có giá trị bị thiếu (missing value - NA). Từ những hàm trên, bạn đã có cái nhìn sơ khởi về dữ liệu air quality.

<strong>Nguồn tham khảo:</strong> <a href="http://swirlstats.com/" target="_blank" rel="noopener">http://swirlstats.com/</a>